extends layout

block content
  p Welcome #{username}
  p
    a(href="api/joke/random") Show random joke 
  p  
    a(href="api/jokes") Show all jokes 
  p
    a(href="/addJoke") Add new joke

  p "Show random joke" has been clicked #{jokeCount} times. 
  p "Show all jokes" has been clicked #{jokesCount} times.
  p "Add new joke" has been clicked #{storeJokeCount} times.