extends layout

block content
    h1 Login
    form(action="login", method="post")
        label(for="username") Username
        input(type="text", name="username")
        input(type="submit", value="Login")